# Undersample the Dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv(r'Depression_Tweet_Preprocessed.csv')
df.head()

   TID                                              TWEET  LABEL
0  250                                        awesom week      1
1   95  end jona amaz aw yep dat tear kinda awesom nic...      1
2  554  blog pretti lame stori unreleas bike seat tip ...      1
3  766  tweet fun cruis vibe insha allah ighalofc stan...      1
4  617  find interest vespa count motorcycl maryland f...      1

In [ ]:
df.LABEL.value_counts() # greatly imbalanced  as label 1 has twice as many values as label 0

1    409
0    260
Name: LABEL, dtype: int64

In [ ]:
# undersample label 1 (reduce data to match label 0)
from sklearn.utils import resample

df_majority = df[df['LABEL']==1]
df_minority = df[df['LABEL']==0]

 
# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=260,     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
df = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
df.LABEL.value_counts()
# 260    260

1    260
0    260
Name: LABEL, dtype: int64

In [ ]:
df

     TID                                              TWEET  LABEL
23   206                 happi coz hme haha im excit sunday      1
43   953                                    happi sox today      1
166  558                                   im happi content      1
282  540           gonna happi tonight cost kurt hinder ï ½      1
461  515                             tech chang farm awesom      1
..   ...                                                ...    ...
652   15                      depress real joke smile fight      0
653  919  depress commit suicid mentalhealth exist disea...      0
654  818  world fuck im world kill hope dream ambit enjo...      0
665  255  sad wors happi depress dehuman tire emot exper...      0
666  636                  hug simpli meant alot sad depress      0

[520 rows x 3 columns]

In [ ]:
# reshuffle the data

df = df.sample(frac = 1)
df

     TID                                              TWEET  LABEL
424  612  ich find niemand ist normal bzw gehört der nor...      0
8    995                                 amo summer depress      0
260  645  bore work esp disney yesterday amaz wait weeke...      0
633  269  wallyworld today awesom time kewl easter baske...      1
139  151                       cassad hope awesom time tour      0
..   ...                                                ...    ...
37   195              day depress kick drag hole loneli sad      0
364   38  disclos mental ill report diagnosi bipolar dep...      0
40   345                                           u awesom      1
136  296  cours dark side lifestyl dj stress anxieti mak...      0
523  157        depress cluster differ similar mentalhealth      0

[520 rows x 3 columns]

In [ ]:
df.to_csv('Depression_Tweet_Dataset.csv', index=False)